In [1]:
from portfolio import Asset, Portfolio

my_p = Portfolio()

my_p.get_current_postions()

          position_size  position_value  allocation
ticker
USDT         709.577891      709.208910    0.403938
ETH2           0.000000        0.000000    0.000000
BSV            0.000000        0.000000    0.000000
ZEC            0.000000        0.000000    0.000000
BAT            0.000000        0.000000    0.000000
USDC           0.727129             NaN         NaN
PBVAONFR       0.000000        0.000000    0.000000
ZRX            0.000000        0.000000    0.000000
ETC            0.000000        0.000000    0.000000
BCH            0.009765        4.171365    0.002376
USD            6.501616        6.501616    0.003703
BTC            0.011382      690.483809    0.393272
LTC            0.000000        0.000000    0.000000
ETH            0.118871      345.373243    0.196711

In [2]:
from coinbase.rest import RESTClient
client = RESTClient(key_file="coinbase_cloud_api_key.json")

In [3]:
#pd.DataFrame(client.get_products()['products'])['product_id'].values

In [14]:
from pandas import Timestamp as tmpstemp
from pandas import Timedelta as tmpdelta
import pandas as pd

In [10]:

date_from = tmpstemp.fromisoformat('2024-02-01')
next_date = tmpstemp.fromisoformat('2024-03-01')
date_from_str = (date_from - tmpstemp("1970-01-01")) // tmpdelta('1s')
next_date_str = (next_date - tmpstemp("1970-01-01")) // tmpdelta('1s')
currency = 'USD'
ticker = 'BTC'
client.get_public_candles(f'{ticker}-{currency}', date_from_str, next_date_str, 'ONE_DAY')

In [16]:



incoming_data

             date_time       low      high      open     close          volume
0  2024-02-29 19:00:00  60788.33  63267.18  61179.03  62436.72  24696.65692545
1  2024-02-28 19:00:00  60355.61  63675.48  62520.06  61179.03  36825.89535085
2  2024-02-27 19:00:00  56723.48     64100  57077.08   62518.9   48265.6721171
3  2024-02-26 19:00:00   54490.8  57646.81  54530.32  57077.07  28791.48651731
4  2024-02-25 19:00:00  50901.23     54980  51730.96  54533.48  22422.38763854
5  2024-02-24 19:00:00  51275.01  51967.82  51568.63     51731   3617.40106809
6  2024-02-23 19:00:00  50576.55  51696.19  50746.98  51570.65   3448.96576791
7  2024-02-22 19:00:00  50513.01  51512.68  51260.29  50747.05  11679.16625824
8  2024-02-21 19:00:00  50905.65     52076  51851.46   51258.7  13104.51408087
9  2024-02-20 19:00:00   50628.6  52394.91  52277.53  51851.67  13735.03407249
10 2024-02-19 19:00:00  50764.01     53000  51787.05  52277.52  15888.87599974
11 2024-02-18 19:00:00  51687.98  52501.01  52153.63  51787.05   6009.01451962
12 2024-02-17 19:00:00  51174.38     52400  51666.23  52153.63   3997.17143898
13 2024-02-16 19:00:00  50642.36  52214.05  52162.65  51666.22   5387.27413329
14 2024-02-15 19:00:00  51597.87   52608.2  51935.23  52162.64  13816.27351282
15 2024-02-14 19:00:00  51353.49     52890  51858.51  51934.29  18465.04404385
16 2024-02-13 19:00:00  49253.92     52111  49724.55  51858.59  20249.94369733
17 2024-02-12 19:00:00  48327.81  50423.42  49941.95  49725.36  20471.56790372
18 2024-02-11 19:00:00  47715.67  50363.42  48321.14  49941.81  18540.40980624
19 2024-02-10 19:00:00   47590.3     48614  47767.06   48316.3    5243.1260706
20 2024-02-09 19:00:00  46889.53  48179.43  47157.01  47767.06     5663.309891
21 2024-02-08 19:00:00  45252.93  48230.02  45304.83  47160.41  21802.75242269
22 2024-02-07 19:00:00     44335  45637.38  44345.94   45305.2  19283.80580787
23 2024-02-06 19:00:00  42760.44     44430  43097.16  44343.61  12440.36853251
24 2024-02-05 19:00:00  42516.07  43372.79   42658.3  43095.79   7940.35140737
25 2024-02-04 19:00:00     42235     43520  42571.91  42657.67   8756.87806894
26 2024-02-03 19:00:00  42228.01     43100  43007.82  42568.55     2643.251649
27 2024-02-02 19:00:00  42863.58  43358.13  43183.62  43010.67   2254.45335539
28 2024-02-01 19:00:00  42527.58     43700  43080.38  43181.66  12202.24125895
29 2024-01-31 19:00:00  41846.04  43276.19  42545.47  43078.81  11526.63383073